nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 12px ;
}
nav li a{
    text-decoration: none;
    color: black;
}

nav li:hover{
    background-color: rgb(0, 136, 255);
}