nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 24px;
    padding: 1rem;
}
/* nav li :hover{ */


nav li:hover{
    background-color: blueviolet;
}

nav li a{
    text-decoration: none;
    color: tomato;
}